div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 100%;
    /* position: fixed;
    left: 0; 
    bottom: 0;
    padding: 10px; */
}
p {
    color: white;
}