div{
    color: white;
    padding: 5px 0 5px 0;
    background-color: black;
}

div div span {
    display: inline-block;
    size: 2rem;
    margin:0 10px 0 10px;  
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

div div span:hover { 
    transition: 1s;
    background-color: white;
    color: black;
}

div div div.buttons {
    display: flex;
    justify-content: space-between;
}

.active {
    color: red;
}