div h1 i {
    color: lime;
    padding: 10px 0 10px 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    /* position: fixed;  
    top: 0;  
    left: 0;
    z-index: 100;  
    width: 100%;   */
}