<div>
  <h1>Plan</h1>
  <input [(ngModel)]="searchTerm">
    <table>
      <tr>
        <th class="pointer" (click)="sort('name')">
          <i class="type" [ngClass]="{'type-sort': column !== 'name','type-sort-asc': (column === 'name' && !isDesc),  'type-sort-desc': (column === 'name' && isDesc) }" aria-hidden="true">Назва плану</i>
        </th>
        <th class="pointer" (click)="sort('update_date')">
          <i class="type" [ngClass]="{'type-sort': column !== 'update_date','type-sort-asc': (column === 'update_date' && !isDesc),  'type-sort-desc': (column === 'update_date' && isDesc) }" aria-hidden="true">Дата останньої зміни</i>
        </th>
      </tr>
      <tr *ngFor="let plan of filteredPlans">
        <td>{{plan.name}}</td>
        <td>{{plan.update_date.substring(0,10)}}</td>
      </tr>
    </table>
</div>