<div class="plan-item-container" (mouseover)="changeItem=true" (mouseleave)="changeItem=false">
    <div class="plan-image" [ngStyle]="{'background-image': 'url(' + plan.image + ')'}"></div>
    <div class="plan-panel">
        <div class="plan-name">
            <b>{{plan.name}}</b>
        </div>
        <div>Останнє оновлення: {{plan.update_date.substring(0,10)}}</div>
    </div>
    <div class="hover-panel" *ngIf="changeItem">
        <div class="top-icons">
            <span class="icon icon-copy" (click)="copy.emit(plan.id)" title="Копіювати план"></span>
            <span class="icon icon-edit" (click)="htmlInsideModal.open()" title="Налаштування плану"></span>
            <span class="icon icon-delete" (click)="delete.emit(plan.id)"  title="Видалити план"></span>
        </div>
        <div class="center-buttons">
            <div>
                <a class="icon-view icon-view-plan" [href]="'http://app2.test.planohero.com/planogram/view/' + plan.id" target="_blank"></a>
                <a class="link-view-plan" [href]="'http://app2.test.planohero.com/planogram/view/' + plan.id" target="_blank">Переглянути</a>
            </div>
            <div>
                <a class="icon icon-edit-plan" [href]="'http://app2.test.planohero.com/planogram/edit/' + plan.id" target="_blank"></a>
                <a class="link-edit-plan" [href]="'http://app2.test.planohero.com/planogram/edit/' + plan.id" target="_blank">Редагувати</a>
            </div>
        </div>
    </div>
</div>

<modal #htmlInsideModal>
    <ng-template #modalHeader><h2>HTML inside modal</h2></ng-template>
    <ng-template #modalBody>
      <p>HTML content inside modal</p>
      <!-- <form (ngSubmit)="handler.emit(plan)">
    <h1>Редагувати план</h1>
    <input type="text" name="name" vaule="plan.name" [(ngModel)]="plan.name"  ngModel placeholder="Введіть назву плану">
    <input type="text" name="trade_area" vaule="plan.name" [(ngModel)]="plan.trade_area"  ngModel placeholder="Введіть площа торгового залу">
    <button>Застосувати</button>
</form> -->
    </ng-template>
</modal>